.container{
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    height: 100vh;
    justify-content: space-between;
    
}
.column{
    display: flex;
    align-items: center;
    justify-content:space-around;
    
    
}
.header{
    background-color: black;
    color: #fff;

}
.footer{
    background-color: black;
    color: #fff;
}

.col{
    border: 1px solid black; 
    width: 48%;
    padding: 7px;
}
body{
    margin: 0;
}