* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.column {
    background-color: #ced3ce;
    padding: 5px;
    margin: 10px;
    flex: 1 1 300px; /* 1 is grow, 1 is shrink, 300px is the base width */
    color: black;
    text-align: center;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .column {
        flex: 1 1 45%; /* Adjust to 2 columns on medium screens */
    }
}

@media (max-width: 800px) {
    .column {
        flex: 1 1 100%; /* Adjust to 1 column on smaller screens */
    }
}