* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 20px;
    background-color: #333;
    color: white;
    position: relative;
  }
  
  .logo {
    font-size: 17px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    border-radius: 5px;
  }
  
  .nav-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      text-align: center;
    }
  
    .nav-links li {
      margin: 15px 0;
    }
  
    .burger {
      display: flex;
    }
  
    .nav-toggle:checked ~ nav .nav-links {
      display: flex;
    }
  }
  